@tailwind base;
@tailwind components;
@tailwind utilities;

.h-25 {
  height: 25px;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#modal {
  background-color: white;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.books {
  text-align: center;
  overflow: hidden;
  flex: 1;
  border: 1px solid black;
  font-size: x-small;
}

.books span {
  text-align: left;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 4px;
}